# ignore .env
*.env
.venv/
venv/
.env.*

# ignore all logs
*.log
logs/


# ignore db files
*.db
*.rdb

# ignore all .prof
*.prof

#ignore docker volumes
postgres/data/
redis_service/data/
**/node_modules/
.dockerignore

.vscode/
.idea/
__pycache__/
data/
temp/
bot/cache/
